# OSX
.DS_Store
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__

# Environment files
.env
admin_static/
static/
media/
docs/

# Testing
.coverage
app/api/coverage/

app/ui/node_modules/**
