@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

$sb-dark-grey: #111111;

body.body--light {
  background: $sb-dark-grey;
}

.bg-sb-dark-grey {
  background: $sb-dark-grey;
}

// Border rounding
.rounded-5 {
  border-radius: 5px 5px 5px 5px;
}

.border-light {
  border-color: #fff;
}

// Transitions
.slide-up-leave-active {
  transition: all 0s ease-out;
}

.slide-up-enter-active {
  transition: all 1s ease-out;

}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

// Component fixing
.no-min-width {
  min-width: 0 !important;
}

.full-height-card {
  display: flex;
  flex-direction: column;
  height: 100%
}
